In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
name = []
mileage = []
dealer_name = []
rating = []
rating_count = []
price = []

for i in range(1,41):
    
    # Website in a variable
    website = 'https://www.cars.com/shopping/results/?page=' + str(i) + '&page_size=20&dealer_id=&keyword=&list_price_max=&list_price_min=&makes[]=bmw&maximum_distance=all&mileage_max=&models[]=bmw-335&sort=best_match_desc&stock_type=used&year_max=2011&year_min=2007&zip='

    # Request to website
    response = requests.get(website)
    
    # Soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Results
    results = soup.find_all('div', {'class':'vehicle-card'})
    
    
    for result in results:
    
        # name
        try:
            name.append(result.find('h2').get_text())
        except:
            name.append('n/a')


        # mileage
        try:
            mileage.append(result.find('div', {'class':'mileage'}).get_text())
        except:
            mileage.append('n/a')

        # dealer_name
        try:
            dealer_name.append(result.find('div', {'class': 'dealer-name'}).get_text().strip())
        except:
            dealer_name.append('n/a')

        # rating
        try:
            rating.append(result.find('span',{'class':'sds-rating__count'}).get_text())
        except:
            rating.append('n/a')


        # rating_count
        try:
            rating_count.append(result.find('span', {'class': 'sds-rating__link'}).get_text())
        except:
            rating_count.append('n/a')


        # price
        try:
            price.append(result.find('span', {'class': 'primary-price'}).get_text())
        except:
            price.append('n/a')

In [3]:
bmw_df = pd.DataFrame({'Name':name, 'Mileage': mileage,'Dealer Name': dealer_name,
                          'Rating': rating, 'Rating Count': rating_count, 'Price':price})

In [4]:
bmw_df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price
0,2009 BMW 335 i,"82,481 mi.",Caspian Auto Motors,3.7,(170 reviews),"$14,677"
1,2011 BMW 335 i,"89,022 mi.",Frontline Motors,2.3,(9 reviews),"$16,998"
2,2007 BMW 335 i,"67,000 mi.",n/a,n/a,n/a,"$10,000"
3,2008 BMW 335 i,"57,605 mi.",Car2Sell,4.7,(449 reviews),"$12,900"
4,2011 BMW 335 i xDrive,"41,931 mi.",BMW of Ridgefield,4.7,(474 reviews),"$22,990"
...,...,...,...,...,...,...
332,2007 BMW 335 i,"98,545 mi.",OC Auto Exchange,3.7,(139 reviews),"$11,999"
333,2011 BMW 335 i,"117,358 mi.",Caspian Auto Motors,3.7,(170 reviews),"$11,825"
334,2007 BMW 335 i,"148,957 mi.",Sky Rides Automotive Group,n/a,n/a,"$6,995"
335,2011 BMW 335 i xDrive,"61,618 mi.","Guess Buick GMC / Guess Ford, Inc.",4.9,(70 reviews),Not Priced
336,2011 BMW 335 i xDrive,"74,555 mi.",O'Meara Volkswagen of Thornton,4.5,(696 reviews),"$18,411"

### Data Cleaning

In [5]:
bmw_df['Rating Count'] = bmw_df['Rating Count'].apply(lambda x: x.strip('reviews)').strip('('))

In [6]:
bmw_df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price
0,2009 BMW 335 i,"82,481 mi.",Caspian Auto Motors,3.7,170,"$14,677"
1,2011 BMW 335 i,"89,022 mi.",Frontline Motors,2.3,9,"$16,998"
2,2007 BMW 335 i,"67,000 mi.",n/a,n/a,n/a,"$10,000"
3,2008 BMW 335 i,"57,605 mi.",Car2Sell,4.7,449,"$12,900"
4,2011 BMW 335 i xDrive,"41,931 mi.",BMW of Ridgefield,4.7,474,"$22,990"
...,...,...,...,...,...,...
332,2007 BMW 335 i,"98,545 mi.",OC Auto Exchange,3.7,139,"$11,999"
333,2011 BMW 335 i,"117,358 mi.",Caspian Auto Motors,3.7,170,"$11,825"
334,2007 BMW 335 i,"148,957 mi.",Sky Rides Automotive Group,n/a,n/a,"$6,995"
335,2011 BMW 335 i xDrive,"61,618 mi.","Guess Buick GMC / Guess Ford, Inc.",4.9,70,Not Priced
336,2011 BMW 335 i xDrive,"74,555 mi.",O'Meara Volkswagen of Thornton,4.5,696,"$18,411"

In [7]:
bmw_df.to_excel('data_scrapped_may26_2022.xlsx', index=False)

# JUNE 2nd, 2022
## Further data cleaning prep for SQL

### Parse year

In [8]:
bmw_df['Year'] = bmw_df['Name'].apply(lambda x: x.split(' ')[0])

In [9]:
bmw_df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price,Year
0,2009 BMW 335 i,"82,481 mi.",Caspian Auto Motors,3.7,170,"$14,677",2009
1,2011 BMW 335 i,"89,022 mi.",Frontline Motors,2.3,9,"$16,998",2011
2,2007 BMW 335 i,"67,000 mi.",n/a,n/a,n/a,"$10,000",2007
3,2008 BMW 335 i,"57,605 mi.",Car2Sell,4.7,449,"$12,900",2008
4,2011 BMW 335 i xDrive,"41,931 mi.",BMW of Ridgefield,4.7,474,"$22,990",2011
...,...,...,...,...,...,...,...
332,2007 BMW 335 i,"98,545 mi.",OC Auto Exchange,3.7,139,"$11,999",2007
333,2011 BMW 335 i,"117,358 mi.",Caspian Auto Motors,3.7,170,"$11,825",2011
334,2007 BMW 335 i,"148,957 mi.",Sky Rides Automotive Group,n/a,n/a,"$6,995",2007
335,2011 BMW 335 i xDrive,"61,618 mi.","Guess Buick GMC / Guess Ford, Inc.",4.9,70,Not Priced,2011
336,2011 BMW 335 i xDrive,"74,555 mi.",O'Meara Volkswagen of Thornton,4.5,696,"$18,411",2011

### Remove 'mi' from mileage

In [10]:
bmw_df['Mileage'] = bmw_df['Mileage'].apply(lambda x: x.split(' ')[0])

### Remove \$ from price

In [11]:
'''
Reasoning for the -1 for future reference:
because if happens that occurrence is not in the string you'll get "IndexError: list index out of range".

Therefore -1 will not get any harm cause number of occurrences is already set to one.
'''

bmw_df['Price'] = bmw_df['Price'].apply(lambda x: x.split('$')[-1])

In [12]:
bmw_df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price,Year
0,2009 BMW 335 i,"82,481",Caspian Auto Motors,3.7,170,"14,677",2009
1,2011 BMW 335 i,"89,022",Frontline Motors,2.3,9,"16,998",2011
2,2007 BMW 335 i,"67,000",n/a,n/a,n/a,"10,000",2007
3,2008 BMW 335 i,"57,605",Car2Sell,4.7,449,"12,900",2008
4,2011 BMW 335 i xDrive,"41,931",BMW of Ridgefield,4.7,474,"22,990",2011
...,...,...,...,...,...,...,...
332,2007 BMW 335 i,"98,545",OC Auto Exchange,3.7,139,"11,999",2007
333,2011 BMW 335 i,"117,358",Caspian Auto Motors,3.7,170,"11,825",2011
334,2007 BMW 335 i,"148,957",Sky Rides Automotive Group,n/a,n/a,"6,995",2007
335,2011 BMW 335 i xDrive,"61,618","Guess Buick GMC / Guess Ford, Inc.",4.9,70,Not Priced,2011
336,2011 BMW 335 i xDrive,"74,555",O'Meara Volkswagen of Thornton,4.5,696,"18,411",2011

### Remove comas from Mileage and Price

In [26]:
bmw_df['Mileage'] = bmw_df['Mileage'].apply(lambda x: x.replace(',', ''))

In [27]:
bmw_df['Price'] = bmw_df['Price'].apply(lambda x: x.replace(',', ''))

## Save CSV

In [29]:
# bmw_df.to_csv('data_scrapped_june2nd_2022_sql.csv', index=False)