In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
name = []
mileage = []
dealer_name = []
rating = []
rating_count = []
price = []

for i in range(1,41):
    
    # Website in a variable
    website = 'https://www.cars.com/shopping/results/?page=' + str(i) + '&page_size=20&dealer_id=&keyword=&list_price_max=&list_price_min=&makes[]=bmw&maximum_distance=all&mileage_max=&models[]=bmw-335&sort=best_match_desc&stock_type=used&year_max=2011&year_min=2007&zip='

    # Request to website
    response = requests.get(website)
    
    # Soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Results
    results = soup.find_all('div', {'class':'vehicle-card'})
    
    
    for result in results:
    
        # name
        try:
            name.append(result.find('h2').get_text())
        except:
            name.append('n/a')


        # mileage
        try:
            mileage.append(result.find('div', {'class':'mileage'}).get_text())
        except:
            mileage.append('n/a')

        # dealer_name
        try:
            dealer_name.append(result.find('div', {'class': 'dealer-name'}).get_text().strip())
        except:
            dealer_name.append('n/a')

        # rating
        try:
            rating.append(result.find('span',{'class':'sds-rating__count'}).get_text())
        except:
            rating.append('n/a')


        # rating_count
        try:
            rating_count.append(result.find('span', {'class': 'sds-rating__link'}).get_text())
        except:
            rating_count.append('n/a')


        # price
        try:
            price.append(result.find('span', {'class': 'primary-price'}).get_text())
        except:
            price.append('n/a')

In [3]:
bmw_df = pd.DataFrame({'Name':name, 'Mileage': mileage,'Dealer Name': dealer_name,
                          'Rating': rating, 'Rating Count': rating_count, 'Price':price})

In [4]:
bmw_df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price
0,2011 BMW 335 i,"89,022 mi.",Frontline Motors,2.3,(9 reviews),"$16,998"
1,2011 BMW 335 i xDrive,"41,931 mi.",BMW of Ridgefield,4.7,(472 reviews),"$22,990"
2,2009 BMW 335 i,"82,481 mi.",Caspian Auto Motors,3.7,(170 reviews),"$13,620"
3,2011 BMW 335 i,"58,448 mi.",Carvana-Touchless Delivery To Your Home,4.3,"(8,883 reviews)","$24,590"
4,2009 BMW 335 i,"42,344 mi.",Autowise,4.5,(76 reviews),"$18,688"
...,...,...,...,...,...,...
337,2009 BMW 335 i,"47,405 mi.",Audi New Orleans,4.3,(75 reviews),"$11,499"
338,2007 BMW 335 i,"107,784 mi.",Vande Hey Brantmeier Chevrolet Buick,4.8,(218 reviews),"$10,998"
339,2009 BMW 335 i,"104,652 mi.",Luxury Car Outlet,4.4,(46 reviews),Not Priced
340,2011 BMW 335 is,"100,198 mi.",All In Auto Group,1.6,(56 reviews),"$15,950"
341,2011 BMW 335 i xDrive,"102,293 mi.",Auto Mall of Springfield,3.1,(206 reviews),"$12,995"

### Data Cleaning

In [5]:
bmw_df['Rating Count'] = bmw_df['Rating Count'].apply(lambda x: x.strip('reviews)').strip('('))

In [6]:
bmw_df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price
0,2011 BMW 335 i,"89,022 mi.",Frontline Motors,2.3,9,"$16,998"
1,2011 BMW 335 i xDrive,"41,931 mi.",BMW of Ridgefield,4.7,472,"$22,990"
2,2009 BMW 335 i,"82,481 mi.",Caspian Auto Motors,3.7,170,"$13,620"
3,2011 BMW 335 i,"58,448 mi.",Carvana-Touchless Delivery To Your Home,4.3,"8,883","$24,590"
4,2009 BMW 335 i,"42,344 mi.",Autowise,4.5,76,"$18,688"
...,...,...,...,...,...,...
337,2009 BMW 335 i,"47,405 mi.",Audi New Orleans,4.3,75,"$11,499"
338,2007 BMW 335 i,"107,784 mi.",Vande Hey Brantmeier Chevrolet Buick,4.8,218,"$10,998"
339,2009 BMW 335 i,"104,652 mi.",Luxury Car Outlet,4.4,46,Not Priced
340,2011 BMW 335 is,"100,198 mi.",All In Auto Group,1.6,56,"$15,950"
341,2011 BMW 335 i xDrive,"102,293 mi.",Auto Mall of Springfield,3.1,206,"$12,995"

In [7]:
bmw_df.to_excel('data_scrapped_may26_2022.xlsx', index=False)

# MAY 24th, 2022
## Further data cleaning prep for SQL

### Parse year

In [8]:
bmw_df['Year'] = bmw_df['Name'].apply(lambda x: x.split(' ')[0])

In [9]:
bmw_df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price,Year
0,2011 BMW 335 i,"89,022 mi.",Frontline Motors,2.3,9,"$16,998",2011
1,2011 BMW 335 i xDrive,"41,931 mi.",BMW of Ridgefield,4.7,472,"$22,990",2011
2,2009 BMW 335 i,"82,481 mi.",Caspian Auto Motors,3.7,170,"$13,620",2009
3,2011 BMW 335 i,"58,448 mi.",Carvana-Touchless Delivery To Your Home,4.3,"8,883","$24,590",2011
4,2009 BMW 335 i,"42,344 mi.",Autowise,4.5,76,"$18,688",2009
...,...,...,...,...,...,...,...
337,2009 BMW 335 i,"47,405 mi.",Audi New Orleans,4.3,75,"$11,499",2009
338,2007 BMW 335 i,"107,784 mi.",Vande Hey Brantmeier Chevrolet Buick,4.8,218,"$10,998",2007
339,2009 BMW 335 i,"104,652 mi.",Luxury Car Outlet,4.4,46,Not Priced,2009
340,2011 BMW 335 is,"100,198 mi.",All In Auto Group,1.6,56,"$15,950",2011
341,2011 BMW 335 i xDrive,"102,293 mi.",Auto Mall of Springfield,3.1,206,"$12,995",2011

### Remove 'mi' from mileage

In [10]:
bmw_df['Mileage'] = bmw_df['Mileage'].apply(lambda x: x.split(' ')[0])

### Remove \$ from price

In [16]:
'''
Reasoning for the -1 for future reference:
because if happens that occurrence is not in the string you'll get "IndexError: list index out of range".

Therefore -1 will not get any harm cause number of occurrences is already set to one.
'''

bmw_df['Price'] = bmw_df['Price'].apply(lambda x: x.split('$')[-1])

In [17]:
bmw_df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price,Year
0,2011 BMW 335 i,"89,022",Frontline Motors,2.3,9,"16,998",2011
1,2011 BMW 335 i xDrive,"41,931",BMW of Ridgefield,4.7,472,"22,990",2011
2,2009 BMW 335 i,"82,481",Caspian Auto Motors,3.7,170,"13,620",2009
3,2011 BMW 335 i,"58,448",Carvana-Touchless Delivery To Your Home,4.3,"8,883","24,590",2011
4,2009 BMW 335 i,"42,344",Autowise,4.5,76,"18,688",2009
...,...,...,...,...,...,...,...
337,2009 BMW 335 i,"47,405",Audi New Orleans,4.3,75,"11,499",2009
338,2007 BMW 335 i,"107,784",Vande Hey Brantmeier Chevrolet Buick,4.8,218,"10,998",2007
339,2009 BMW 335 i,"104,652",Luxury Car Outlet,4.4,46,Not Priced,2009
340,2011 BMW 335 is,"100,198",All In Auto Group,1.6,56,"15,950",2011
341,2011 BMW 335 i xDrive,"102,293",Auto Mall of Springfield,3.1,206,"12,995",2011

In [18]:
bmw_df.to_csv('data_scrapped_may26_2022_sql.csv', index=False)