In [1]:
import pandas as pd
from secrets import access_key, secret_access_key
import boto3
import os
from datetime import datetime

In [2]:
df = pd.read_csv('/home/rashad/Documents/Data Science Projects/bmw_scraper/SQL/data_scrapped_june2nd_2022_sql.csv')

In [3]:
df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price,Year,newmiles
0,2009 BMW 335 i,82481,Caspian Auto Motors,3.7,170,14677,2009,82481
1,2011 BMW 335 i,89022,Frontline Motors,2.3,9,16998,2011,89022
2,2007 BMW 335 i,67000,NaN,NaN,NaN,10000,2007,67000
3,2008 BMW 335 i,57605,Car2Sell,4.7,449,12900,2008,57605
4,2011 BMW 335 i xDrive,41931,BMW of Ridgefield,4.7,474,22990,2011,41931
...,...,...,...,...,...,...,...,...
332,2007 BMW 335 i,98545,OC Auto Exchange,3.7,139,11999,2007,98545
333,2011 BMW 335 i,117358,Caspian Auto Motors,3.7,170,11825,2011,117358
334,2007 BMW 335 i,148957,Sky Rides Automotive Group,NaN,NaN,6995,2007,148957
335,2011 BMW 335 i xDrive,61618,"Guess Buick GMC / Guess Ford, Inc.",4.9,70,Not Priced,2011,61618
336,2011 BMW 335 i xDrive,74555,O'Meara Volkswagen of Thornton,4.5,696,18411,2011,74555

In [4]:
client = boto3.client('s3',
                     aws_access_key_id = access_key,
                     aws_secret_access_key = secret_access_key)

In [11]:
today_file_name = 'data_scrapped_' + datetime.today().strftime('%Y-%m-%d')

In [13]:
for file in os.listdir():
    if file == today_file_name:
        upload_file_bucket = 'car-scrapper-bucket'
        upload_file_key = 'csv/' + str(file)
        client.upload_file(file, upload_file_bucket, upload_file_key)