In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
name = []
mileage = []
dealer_name = []
rating = []
rating_count = []
price = []

for i in range(1,41):
    
    # Website in a variable
    website = 'https://www.cars.com/shopping/results/?page=' + str(i) + '&page_size=20&dealer_id=&keyword=&list_price_max=&list_price_min=&makes[]=bmw&maximum_distance=all&mileage_max=&models[]=bmw-335&sort=best_match_desc&stock_type=used&year_max=2011&year_min=2007&zip='

    # Request to website
    response = requests.get(website)
    
    # Soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Results
    results = soup.find_all('div', {'class':'vehicle-card'})
    
    
    for result in results:
    
        # name
        try:
            name.append(result.find('h2').get_text())
        except:
            name.append('n/a')


        # mileage
        try:
            mileage.append(result.find('div', {'class':'mileage'}).get_text())
        except:
            mileage.append('n/a')

        # dealer_name
        try:
            dealer_name.append(result.find('div', {'class': 'dealer-name'}).get_text().strip())
        except:
            dealer_name.append('n/a')

        # rating
        try:
            rating.append(result.find('span',{'class':'sds-rating__count'}).get_text())
        except:
            rating.append('n/a')


        # rating_count
        try:
            rating_count.append(result.find('span', {'class': 'sds-rating__link'}).get_text())
        except:
            rating_count.append('n/a')


        # price
        try:
            price.append(result.find('span', {'class': 'primary-price'}).get_text())
        except:
            price.append('n/a')

In [3]:
bmw_df = pd.DataFrame({'Name':name, 'Mileage': mileage,'Dealer Name': dealer_name,
                          'Rating': rating, 'Rating Count': rating_count, 'Price':price})

In [4]:
bmw_df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price
0,2011 BMW 335 i,"64,455 mi.",n/a,n/a,n/a,"$20,300"
1,2008 BMW 335 335i,"96,939 mi.",Germain Toyota,4.6,"(2,775 reviews)","$13,354"
2,2008 BMW 335 i,"69,835 mi.",RPM Motors,3.6,(7 reviews),"$14,900"
3,2011 BMW 335 i,"58,445 mi.",Carvana-Touchless Delivery To Your Home,4.3,"(8,879 reviews)","$24,590"
4,2011 BMW 335 i,"125,681 mi.",Greenway Ford,4.6,"(3,272 reviews)","$11,085"
...,...,...,...,...,...,...
329,2011 BMW 335 i xDrive,"41,931 mi.",BMW of Ridgefield,4.7,(472 reviews),"$22,990"
330,2008 BMW 335 i,"49,711 mi.",BMW of Little Rock,4.8,(780 reviews),"$15,890"
331,2009 BMW 335 i,"104,168 mi.",Caspian Auto Motors,3.7,(170 reviews),Not Priced
332,2008 BMW 335 i,"131,231 mi.",Caspian Auto Motors,3.7,(170 reviews),Not Priced
333,2008 BMW 335 i,"70,516 mi.",GTX Auto Group INC,3.7,(46 reviews),Not Priced

### Data Cleaning

In [5]:
bmw_df['Rating Count'] = bmw_df['Rating Count'].apply(lambda x: x.strip('reviews)').strip('('))

In [6]:
bmw_df

,Name,Mileage,Dealer Name,Rating,Rating Count,Price
0,2011 BMW 335 i,"64,455 mi.",n/a,n/a,n/a,"$20,300"
1,2008 BMW 335 335i,"96,939 mi.",Germain Toyota,4.6,"2,775","$13,354"
2,2008 BMW 335 i,"69,835 mi.",RPM Motors,3.6,7,"$14,900"
3,2011 BMW 335 i,"58,445 mi.",Carvana-Touchless Delivery To Your Home,4.3,"8,879","$24,590"
4,2011 BMW 335 i,"125,681 mi.",Greenway Ford,4.6,"3,272","$11,085"
...,...,...,...,...,...,...
329,2011 BMW 335 i xDrive,"41,931 mi.",BMW of Ridgefield,4.7,472,"$22,990"
330,2008 BMW 335 i,"49,711 mi.",BMW of Little Rock,4.8,780,"$15,890"
331,2009 BMW 335 i,"104,168 mi.",Caspian Auto Motors,3.7,170,Not Priced
332,2008 BMW 335 i,"131,231 mi.",Caspian Auto Motors,3.7,170,Not Priced
333,2008 BMW 335 i,"70,516 mi.",GTX Auto Group INC,3.7,46,Not Priced

In [7]:
# bmw_df.to_excel('mutiple_pages_car.xlsx', index=False)